/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
* {
      outline: none !important;
}
body {
  padding-top: 50px;
}
.btn-danger :active {
background-color: red !important;
}
.btn-danger :focus {
background-color: red !important;
}

div.sidebar{
    left: -200px;
    width:250px;
    background: rgba(0, 0, 0, 0.7);
    -webkit-transition:  left 0.2s ease-in-out;
    -moz-transition:  left 0.2s ease-in-out;
    -ms-transition:  left 0.2s ease-in-out;
    -o-transition:  left 0.2s ease-in-out;
    transition:  left 0.2s ease-in-out;
}
    
div.open-sidebar{
    left:0px;
}
.main{
    margin-left:20px ;
}
a{
    color:white;
}
a:hover{
    background:#2d6290 !important;
    color:white;
}


.spinner{
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:rgba(255,255,255,0.7);
    background-image: url("../img/spinner.gif");
    background-repeat: no-repeat;
    background-origin: content-box;
    background-size: 100px;
    padding: 20% 50%;
}

.spinner img{
    height:5em;
    width: 5em;
}

.spinner-local{
    display: inline-block;
    width: 15px;
    height: 15px;
    background-size: contain;
    background-image: url("../img/spinner.gif");
    background-repeat: no-repeat;
    background-origin: content-box;
}


.collapsing {  transition: height 0.01s !important; }
h3,h2{
/*    float:right;*/
    margin-top:2em !important;
}
h3{
margin-top: 2em !important;
}
/*
 * Global add-ons
 */
.notshown{
    display:none;
}
h1 button{
    margin-right:5px;
}
.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.widget{
/*
    height:200px !important;
    width:200px !important;
*/
    float:left;
}
.overflow-scroll{
    overflow: scroll;
}
.table-responsive.overflow-scroll{
    height: 240px !important;
}
table .overflow-scroll{
    height: 240px !important;
}
/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
/*
@media (max-width:1024px){
    body{
        -webkit-transform: translate(0,17px);
    }

}
*/
.glyphicon.pull-left,.glyphicon.pull-right{
    margin-right:5px;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    display: block;
    padding: 70px 20px 20px;
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
    .navbar{
        display:none;
    }
    body > .container-fluid{
    margin-top: -50px;
    }
}
.iphone-fix{
    height:19px;
    
}
.navbar.navbar-fixed-top{
    background:#428bca;
}
/* Sidebar navigation */
.nav-sidebar {
  margin-left: -20px;
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
}
.nav-sidebar li a{
    background:none;
}
.nav-sidebar li a:hover{
    margin-right: 0;
}
.nav-sidebar > li > a {
  padding-left: 20px;
  padding-right: 20px;
}
.nav-sidebar li.active{
    background-color: #428bca;
}
.nav-sidebar a {
  color: #fff;
    margin-right: 50px;
  background-color: #428bca;
}
.progress{
    margin-bottom: 0 !important;
}
.panel-body{
    padding: 0;
}
#db-spoiler .panel-body{
    padding: 5px;
}
/*
 * Main content
 */

/*iPad mini 1st gen*/
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio: 1){
     body{
    font-weight: 400;
    }

}
@media(max-width: 600px){
    .main{
        margin-top:20px !important;
        margin-left:0px !important;
        padding:5px !important;
    }
   
    .widget-area{
    width: 220px;
}
    
}
.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-left: 40px;
    padding-right: 40px;
      
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  border-radius: 50%;
}

.widget-area {
    margin: 0 auto;
}
.panel a:hover{
    background: transparent !important;
    color: #007aff;
}
.menu-icon {
    color:white;
    top: -29px;
    right: 17px;
    margin-right:0 !important;
}

.nb-fixed-top-button {
     width: 70px;
    height: 50px;
    display: inline-block;
    float: right;
    
}

#cconsole td {
    white-space: normal;
    
}

.row-widgets {
    margin:0;
}

.find-date {
    width:45%;
}
